#mainPopup {
	padding: 10px;
	min-height: 200px;
	width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
/*	h1 {
	font-size: 2em;
}*/
.column {
	width: 50%;
}
.header, .footer {
	width: 100%;
}
.instructions, .header {
	float: left;
}
.dictionary, .subtitle {
	float: right;
}
.remove-button {
	margin: 0px;
	padding: 0px 3px;
	margin-right: 10px;
	border-radius: 45%;
	color: red;
}
ul {
	list-style-type: none;
}

/*.bg {
	width: 100%;
	z-index: 1;
  opacity: .5;
}

.overlay {
	background-color: rgba(248, 247, 216, 0.7);
	z-index: 2;
}

.text {
	z-index: 3;
}*/